#homepage {
	padding-top: 100px;
	background-image: url("./images/6358615623227228942081594044_corner_cover.jpg");
	background-size: cover;
}
.container {
	padding-left: 20px;
	padding-right: 20px;
}
footer {
    position:fixed;bottom:0;
    width:100%;
    display:block;
    color: white;
}
/* * * * * * * * * * * * * * * * * * * *
			NAV BAR
* * * * * * * * * * * * * * * * * * * */
.navbar .fixed-top .navbar-expand-lg .navbar-light .bg-light {
  background: rgba(255, 255, 255, 0.7);
}

.pull-left img {
	height: 45px;
	width: 45px;
	margin-right: 10px;
}
.navbar-brand {
	color: #2D4169;
}

.dropdown {
  margin-right: 10%;
}

.dropdown li {
  padding-left: 10px;
}

/* * * * * * * * * * * * * * * * * * * * 
			SEARCH BAR
/* * * * * * * * * * * * * * * * * * * *
/* Style the search field */
form.searchBar input[type=text] {
  padding: 10px;
  font-size: 17px;
  font: Quicksand;
  border: 1px solid #f1f1f1;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-top: 25%;
}

/* Style the submit button */
form.searchBar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #232D4B;
  color: white;
  font-size: 17px;
  border: 1px solid #232D4B;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-top: 25%;
}

form.searchBar button:hover {
  background: #041027;
}

/* Clear floats */
form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}

/* * * * * * * * * * * * * * * * * * * *
            ABOUT PAGE
* * * * * * * * * * * * * * * * * * * */
#about {
  padding-top: 100px;
  background-image: url("./images/6358615623227228942081594044_corner_cover.jpg");
  background-size: cover;
}
.aboutBackground {
  margin: auto;
  width: 850px;
  height: 500px;
  background-color: white;
  opacity: 0.8;
  font-family: Quicksand;
  padding:5%;
  font-size: 25px;
}

/* * * * * * * * * * * * * * * * * * * * * *
            Categories Page
* * * * * * * * * * * * * * * * * * * * * * */
#categoriesPage {
  padding-top: 100px;
}

.categoryItems img {
  height: 300px;
  width: 350px;
  display: inline-block;
}

.category {
  display: inline-block; 
  padding: 8px;
}

/* * * * * * * * * * * * * * * * * * * * * *
            Make a Restaurant (admins)
* * * * * * * * * * * * * * * * * * * * * * */
#makeRestaurant {
  padding-top: 100px;
  background-image: url("/images/background-food.jpg");
  background-size: cover;
  color: white;
  font-family: QuickSand;
}

.restaurantForm {
  width: 900px;
  height: 100px;
  margin-left: 10%;
}

.restaurantForm2 {
  margin-left: 10%;
  border-bottom: 1px solid white;
  padding: 10px;
  width: 900px;
}

.restaurantForm2 input {
  margin: 10px;
}

#restaurantFormButton {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10%;
    margin-top: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#restaurantFormButton:hover {
    background-color: white; /* Green */
    color: black;
}

label { 
  display: inline-block; width: 210px; text-align: right; 
}

/* * * * * * * * * * * * * * * * * * * * * *
            Bucket List Page
* * * * * * * * * * * * * * * * * * * * * * */
#bucketListPage {
  padding-top: 30px;
}

.bucketListHeader {
  background-image: url("./images/Group.png");
  width: 100%;
  height: 300px;
  margin: auto;
  background-size: cover;
}

.bucketListItems {
  /*border: 1px solid black;*/
  overflow: hidden; /* will contain if #first is longer than #second */
}

.bucketListItem {
  height: 100px;
  border: 1px solid red;
  margin: 20px;
  padding-left: 5%;
}

.bucketListItem button {
  float: right;
  width: 30%;
  margin-right: 5%;
}

/* * * * * * * * * * * * * * * * * * * * * * *
            Visited Restaurant Page
* * * * * * * * * * * * * * * * * * * * * * * */
#visitedListPage {
  padding-top: 30px;
}

.visitedListHeader {
  background-image: url("./images/header-food.png");
  width: 100%;
  height: 300px;
  margin: auto;
  background-size: cover;
}

.visitedListItems {
  /*border: 1px solid black;*/
  overflow: hidden; /* will contain if #first is longer than #second */
}

.visitedListItem {
  height: 100px;
  border: 1px solid red;
  margin: 20px;
  padding-left: 5%;
}

.visitedListItem button {
  float: right;
  width: 30%;
  margin-right: 5%;
}


